<div class="modal-viewer-header ct-border-bottom-0">
  <span class="modal-viewer-topbar-title">您遇到的问题分类：</span>

  <div class="input-group  pull-right col-sm-4" >
    <input type="text" class="form-control" id="keyWord" placeholder="搜索..."
           ng-model="vm.keyWord">
    <div class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="vm.search()"></i></div>
  </div>
</div>
<div class="panel panel-default">


  <div class="row ct-no-margin">
    <div class="col-md-3 col-lg-2">
      <abn-tree tree-data="vm.docLinks" editable="true"
                tree-control="vm.treeInstance" on-select="vm.onSelectNode(branch)"
                on-add="vm.onAdd(branch)" on-edit="vm.onEdit(branch)" on-remove="vm.onRemove(branch)"></abn-tree>
    </div>


    <div class="col-md-9 col-lg-10 ct-padding-0-8" ui-view="doc">
      <h5>请选择一个文档</h5>
    </div>
  </div>
</div>
