
<div class="input-group  pull-right col-sm-4" >
  <input type="text" class="form-control" id="keyWord" placeholder="搜索..."
         ng-model="vm.keyWord" ng-keydown="vm.enterEvent($event)">
  <div class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="vm.search()"></i></div>
</div>

<span>共{{vm.documents.length}} 条结果</span>
<div ng-repeat="doc in vm.documents">
  <h3 ng-click="vm.go(doc.docId)" style="cursor: pointer">{{doc.title}}</h3>
  <div ng-bind-html="doc.highlight" class="ct-highlight"></div>
  <div class="ct-time-color">更新时间：{{doc.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
</div>
