<form class="ct-margin-12-auto">
  <div class="row">
    <div class="col-sm-12  ct-margin-top-6">
      <table class="search-table" style="width: 100%">
        <tbody>
        <tr>
          <td style="min-width: 60px;">工单状态：</td>
          <td style="min-width: 330px;">
            <label class="radio-inline">
              <input type="radio" name="state" value="" ng-model="vm.s_questionState"> 全部
            </label>
            <label class="radio-inline">
              <input type="radio" name="state" value="U" ng-model="vm.s_questionState"> 未处理
            </label>
            <label class="radio-inline">
              <input type="radio" name="state" value="H" ng-model="vm.s_questionState"> 已分派
            </label>
            <label class="radio-inline">
              <input type="radio" name="state" value="R" ng-model="vm.s_questionState"> 处理中
            </label>
            <label class="radio-inline">
              <input type="radio" name="state" value="C" ng-model="vm.s_questionState"> 已完结
            </label>
          </td>
          <td>
            <div class="input-group  pull-right"
                 ng-class="{'col-sm-12': isQuestionSearchTitleFocus, 'col-sm-10': !isQuestionSearchTitleFocus}">
              <input type="text" class="form-control" id="questionSearchTitle" placeholder="输入工单标题查询"
                     ng-focus="isQuestionSearchTitleFocus = true"
                     ng-blur="isQuestionSearchTitleFocus = false" ng-model="vm.s_questionTitle">
              <div class="input-group-addon" ng-click="vm.queryByTitle()"><i class="glyphicon glyphicon-search"></i></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>创建时间：</td>
          <td colspan="2">
            <label class="radio-inline">
              <input type="radio" name="time" value="" ng-model="vm.s_timeTag"> 全部
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="TM" ng-model="vm.s_timeTag"> <span>本月</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="LM" ng-model="vm.s_timeTag"> <span>上月</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="TS" ng-model="vm.s_timeTag"> <span>本季度</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="LS" ng-model="vm.s_timeTag"> <span>上季度</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="TY" ng-model="vm.s_timeTag"> <span>今年</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="time" value="LY" ng-model="vm.s_timeTag"> <span>去年</span>
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 selector-set ct-margin-top-12 ct-padding-left-12">

      <a class="ss-item" ng-if="vm.s_timeTag">
        <b>创建时间：</b>
        <em ng-if="vm.s_timeTag=='TM'">本月</em>
        <em ng-if="vm.s_timeTag=='LM'">上月</em>
        <em ng-if="vm.s_timeTag=='TS'">本季度</em>
        <em ng-if="vm.s_timeTag=='LS'">上季度</em>
        <em ng-if="vm.s_timeTag=='TY'">今年</em>
        <em ng-if="vm.s_timeTag=='LY'">去年</em>
        <i ng-click="vm.remove('s_timeTag')"></i>
      </a>
      <a class="ss-item" ng-if="vm.s_questionState">
        <b>状态：</b>
        <em ng-if="vm.s_questionState=='U'">未处理</em>
        <em ng-if="vm.s_questionState=='H'">已分派</em>
        <em ng-if="vm.s_questionState=='R'">处理中</em>
        <em ng-if="vm.s_questionState=='C'">已完结</em>
        <i ng-click="vm.remove('s_questionState')"></i>
      </a>
      <a class="ss-item" ng-if="vm.params.questionTitle">
        <b>标题：</b>
        <em>{{vm.params.questionTitle}}</em>
        <i ng-click="vm.remove('s_questionTitle')"></i>
      </a>

    </div>
  </div>
</form>

<div class="panel">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th width="80px" class="text-center">状态</th>
      <th>标题</th>
      <th class="text-center" width="180">创建时间</th>
      <th class="text-center" width="250">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.questions">
    <!--<tr-->
      <!--ng-repeat="row in vm.questions | filter:{questionTitle:vm.s_questionTitle,questionState:vm.s_questionState}-->
      <!--| timeFilter:vm.s_begTime:vm.s_endTime as newData">-->
      <td class="text-center">
        <span ng-if="row.questionState=='U'" class="label panel-label label-danger" >未处理</span>
        <span ng-if="row.questionState=='H'" class="label panel-label label-warning" >已受理</span>
        <span ng-if="row.questionState=='R'" class="label panel-label label-success" >已答复</span>
        <span ng-if="row.questionState=='C'" class="label panel-label label-primary" >已完结</span>
      </td>
      <td><a ui-sref="admin.question.view({ questionId: row.questionId,osId:vm.osId })">{{row.questionTitle}}</a></td>
      <td class="text-center">
        {{row.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-info" ng-click="vm.view(row)">查看</button>
        <button type="button" class="btn btn-warning" ng-click="vm.assign(row)" ng-if="row.questionState=='U'">分配
        </button>
        <button type="button" class="btn btn-danger" ng-click="vm.del(row)" ng-if="row.questionState=='C'">删除</button>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="no-hover">

        <nav aria-label="Page" class="text-center ct-fr flex">
          <p class="nav-page">第<span>{{vm.questions.$pageDesc.totalRows==0?0:vm.questions.$pageDesc.rowStart+1}}</span>到
            <span>{{(vm.questions.$pageDesc.rowStart+20)>vm.questions.$pageDesc.totalRows ?
              vm.questions.$pageDesc.totalRows : vm.questions.$pageDesc.rowStart+20}}</span>条，
            总共<span>{{vm.questions.$pageDesc.totalRows}}</span>条</p>



          <ul class="ct-no-margin" uib-pagination boundary-links="true" total-items="vm.questions.$pageDesc.totalRows"
              items-per-page="vm.questions.$pageDesc.pageSize"  boundary-link-numbers="true" max-size="2"
              ng-model="vm.questions.$pageDesc.pageNo" previous-text="&lsaquo;" next-text="&rsaquo;"
              first-text="&laquo;" last-text="&raquo;" ng-click="vm.pageChange(vm.questions.$pageDesc)"></ul>
        </nav>

      </td>
    </tr>
    </tbody>
  </table>
</div>




