
<nav class="question-state">
  <ul>
    <li>处理中</li>
    <li class="current">已回复</li>
    <li>已完结</li>
  </ul>
</nav>

<div class="panel panel-default">
  <div class="panel-body">
    <nav>
      <ul style="border-left: 2px solid #eaeaea; padding-left: 12px;">
        <li style="margin-bottom: 40px;">
          <h4><small><i>2015-5-1 10:44:01</i> &nbsp;<span class="text-success">用户</span>&nbsp; 提问</small></h4>
          <h3>如果锤子手机倒闭了，是手机行业的悲哀还是庆幸？</h3>
          <p style="text-indent: 24px;color:#a9a7a7">
            因为上班的地方就在南山科技园，所以昨天锤子的发布会到现场了。结束后的路上看看我乎，发现漫山遍野的唱衰锤子和新品，不禁让我产生了疑问，锤子手机如果最后真如锤黑们说的倒闭了，对于目前的手机行业来说，到底是好事还是坏事？
          </p>
        </li>

        <li>
          <h4><small><i>2015-5-1 11:23:15</i> &nbsp;<span class="text-info">管理员</span>&nbsp; 回复</small></h4>
          <p style="text-indent: 24px;">
            是好事，任何情怀都抵不过客观规律。老罗的错误就在于对工程实现的轻视，对工程师的轻视。现实狠狠的教育了他一次。如果锤子倒闭了，可以让想要做些事情改变世界的人引以为戒，不要太浮躁。成功不但要看个人的奋斗，也要考虑历史的进程。不是一个牛人登高一呼就能改变世界的，只有潜心专研踏实工作才能改变世界。
          </p>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-success btn-lg btn-block">
      满意，评价完结工单
    </button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary btn-lg btn-block" centit-add-question question="vm.question">
      继续提问
    </button>
  </div>
</div>

