
<nav class="question-state">
  <ul>
    <li ng-class="{current:vm.question.questionState=='B'}">处理中</li>
    <li ng-class="{current:vm.question.questionState=='N'}">已回复</li>
    <li ng-class="{current:vm.question.questionState=='C'}">已完结</li>
  </ul>
</nav>

<div class="panel panel-default">
  <div class="panel-body">
    <nav>
      <ul style="border-left: 2px solid #eaeaea; padding-left: 12px;">
        <li style="margin-bottom: 40px;">
          <h4>
            <small>
              <i>{{vm.question.createTime}}</i> &nbsp;
              <span class="text-success">{{vm.question.userName}}</span>&nbsp; 提问：
            </small>
          </h4>
          <h3>{{vm.question.questionTitle}}</h3>
          <p style="text-indent: 24px;color:#827f7f">
            {{vm.question.questionContent}}
          </p>
        </li>

        <li ng-repeat="round in vm.rounds">
          <h4>
            <small>
              <i>{{round.createTime}}</i> &nbsp;
              <span class="text-info">管理员
                <span ng-if="round.showUser=='T'">（{{round.userName}}）</span></span>&nbsp; 回复：
            </small>
          </h4>
          <p style="text-indent: 24px;">
            {{round.roundContent}}
          </p>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" ng-if="vm.question.questionState=='N'">
    <button type="button" class="btn btn-success btn-lg btn-block">
      满意，评价完结工单
    </button>
  </div>
  <div class="col-sm-6" style="float: right;">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.askOthers()">
      继续提问
    </button>
  </div>
</div>

