<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    <span ng-if="!vm.info.catalogId">新增&nbsp;类型</span>
    <span ng-if="vm.info.catalogId">编辑&nbsp;类型</span>
  </h3>
</div>
<div class="modal-body" id="modal-body">

  <div uib-alert class="alert-danger" ng-if="vm.error" close="vm.error = null">错误：{{vm.error}}</div>

  <form>
    <div class="form-group">
      <label for="text_modal_catalog_osName">所属系统</label>
      <p class="form-control-static" id="text_modal_catalog_osName">{{vm.os.osName}}</p>
    </div>
    <div class="form-group">
      <label for="input_modal_catalog_catalogName">名称</label>
      <input name="catalogName"
             class="form-control"
             id="input_modal_catalog_catalogName"
             placeholder="名称" ng-model="vm.info.catalogName">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok(vm.info)">提交</button>
  <button class="btn btn-default" type="button" ng-click="vm.cancel()">取消</button>
</div>
