<div class="modal-header">
  <h3 class="modal-title">我的工单</h3>
</div>
<div class="modal-viewer-header">
  <span class="modal-viewer-topbar-title">请选择您遇到的问题分类：</span>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          {{vm.catalog.catalogName}}
        </h4>
        <span class="text-muted">{{vm.catalog.describe}}</span>
      </div>
    </div>
    <div class="panel-article ct-margin-bottom-12">
      <p ng-if="!!vm.documents.length">你可能需要以下文章：</p>
      <p ng-if="!vm.documents.length">暂未找到相关文章</p>
      <ul ng-repeat="doc in vm.documents">
        <li><a ui-sref="root.document.view({ docId: doc.docId })">{{doc.docTitle}}</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="vm.askOthers()">
      <i class="glyphicon glyphicon-question-sign"></i>
      我有其他问题
    </button>
  </div>
</div>
