.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

textarea.form-control {
  resize: none;
  height: 128px;
}

.navbar-collapse {
  overflow: hidden;
}

.navbar.navbar-static-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  padding-top: 64px;
}

body {
  background: #eee;
}

.error-401-page .jumbotron,
.error-404-page .jumbotron,
.error-500-page .jumbotron {
  background-color: #fff;
}
