<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
       ng-repeat="catalog in vm.catalogs">
    <div class="panel panel-default">
      <div class="panel-body" style="line-height: 30px; border-left: 16px solid #09c;">
        <i class="glyphicon glyphicon-home" style="color: #09C;"></i>
        {{ catalog.catalogName }}
        <a class="btn btn-default btn-sm pull-right"
           ui-sref=".view({ catalogId: catalog.catalogId , catalogKeyWords:catalog.catalogKeyWords})">提问</a>
      </div>
    </div>
  </div>
</div>
