<div class="modal-header">
  <h3 class="modal-title">提交工单</h3>
</div>
<div ng-repeat="catalog in vm.catalogs">
  <div class="modal-viewer-header">
    <span class="modal-viewer-topbar-title">{{catalog.catalogName}}（{{catalog.describe}}）</span>
  </div>
  <div class="panel panel-default">

    <div class="row ct-no-margin wo-content">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
           ng-repeat="c in catalog.c">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="glyphicon glyphicon-home"></i>
            <span><a ui-sref=".view({ catalogId: c.catalogId , catalogKeyWords:c.catalogKeyWords})">{{ c.catalogName }}</a></span>
            <p>{{ c.describe }}</p>
            <a class="btn btn-default btn-sm pull-right"
               ui-sref=".view({ catalogId: c.catalogId , catalogKeyWords:c.catalogKeyWords})">提问</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
