<div class="modal-header">
  <h3 class="modal-title">提交工单</h3>
</div>
<div class="modal-viewer-header ">
  <div class="add-wo wo-father">
    <i class="glyphicon glyphicon-plus text-primary"></i>
    <span>新增一级工单类别</span>
  </div>
</div>
<div ng-repeat="catalog in vm.catalogs">
  <div class="modal-viewer-header">
    <span class="modal-viewer-topbar-title">{{catalog.catalogName}}（{{catalog.catalogDescribe}}）</span>

      <div class="add-wo ct-fr"
           tooltip-placement="right" data-fresh-data="vm.queryCatalogs"
           wo-modal-catalog data-os="vm.osId" data-parent-id="catalog.catalogId">
          <i class="glyphicon glyphicon-plus text-primary"></i>
          <span>新增子类别</span>
      </div>
  </div>
  <div class="panel panel-default">

    <div class="row ct-no-margin wo-content">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
           ng-repeat="c in catalog.c">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="glyphicon {{c.icon}}"></i>
            <span>{{ c.catalogName }}</span>
            <div class="operation">
              <i class="glyphicon glyphicon-trash pull-right text-danger"
                 uib-tooltip="删除" ng-click="vm.remove(c)"></i>

              <i class="glyphicon glyphicon-pencil pull-right text-success" fresh-data="vm.queryCatalogs"
                 uib-tooltip="编辑" wo-modal-catalog data-os="vm.osId" data-catalog="c.catalogId" data-parent-id="c.parentId"></i>
            </div>
            <p>{{ c.catalogDescribe }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


