<div class="jumbotron text-center hidden-xs">
  <h2>欢迎来到南大先腾工单系统</h2>
  <p class="lead">
    <img src="assets/images/workorder.jpg" alt="欢迎来到南大先腾工单系统"><br>
  </p>
  <p class="animated" ng-class="vm.classAnimation">
    <button type="button" class="btn btn-lg btn-success" centit-add-question>
      <i class="glyphicon glyphicon-question-sign"></i>
      提问
    </button>
  </p>
  <p>
    提出你的问题：<centit-questions values="vm.questions"></centit-questions>
  </p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4"
       ng-repeat="catalog in vm.catalogs">
    <div class="thumbnail">
      <div class="caption">
        <h3>
          <i ng-class="catalog.logo"></i>
          {{ catalog.title }}
        </h3>
        <p ng-bind-html="catalog.description"></p>
        <a class="btn btn-link pull-right"
           ui-sref=".view({ catalogId: catalog.catalogId })">提问</a>
      </div>
    </div>
  </div>
</div>
