@charset "UTF-8";

body {
  background: #ffffff;
}


/*文章*/
h3.article-title {
  margin-top: 26px;
  font-size: 32px;
}

p.article-date {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.rich-text {
  word-break: break-all;
  color: #333;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  word-wrap: break-word;
  margin: 23px 0 35px;
}


/*工单*/
.modal-header {
  padding: 0 0 16px 0;
}


.modal-title {
  display: inline-block;
  text-indent: 8px;
  border-left: 2px solid #88B7E0;
  margin: 8px 8px 8px 0;

  vertical-align: top;
  font-size: 14px;

}

.modal-body {
  border: 1px solid #ddd;
  padding: 15px;
  border-bottom: 0;
}

.modal-footer {
  border: 1px solid #e5e5e5;
  border-top: 0;
}


.modal-viewer-header {
  margin-top: 24px;
  margin-bottom: -1px;
  height: 40px;
  background: #F5f6FA;
  line-height: 38px;
  border: 1px solid #e1e6eb;
  position: relative;
  border-left: 4px solid #6d7781;
}


.modal-viewer-topbar-title {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-left: 16px;
}



.info-panel {
  background: #eaedf1;
  padding: 20px 20px 14px 20px;
  box-shadow: none;
  border: none;
  font-size: 12px;
}

.info-panel > div.row:first-child {
  margin-bottom: 4px;
}


.text-explode {
  color: #999;
  margin: 0;
}


.message-item {
  position: relative;
  padding: 18px;
}

.user-icon {
  position: relative;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px #E7F2FA solid;
  float: left;
  border-radius: 60px;
  overflow: hidden;
}

.item-content {
  margin-top: 2px;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;
  color: #999;
  font-size: 12px;
}

.item-content p {
  width: 100%;
}
.message-item {
  position: relative;
  padding: 18px;
  border-top: 1px dashed #bcbcbc;
}

.message-item:last-child {
  background: #eafbff;
}

.message-item:first-child {
  border: none;
}
.user-icon.drcloud-icon {
  line-height: 42px;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  text-align: center;
  background: #E7F2FA;
  color: #3d5c71;
}

.drcloud-content {
  border-radius: 4px;
  margin-left: 16px;
  border: 1px solid #e5e5e5;
  padding: 15px 16px;
  background: #f7f9fa;
  color: #333;
}

 .wrap-triangle {
  position: absolute;
  left: -12px;
   top: 14px;
}

.wrap-triangle:before,
.wrap-triangle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '\200B';
  height: 0;
  width: 0;
}

.wrap-triangle:before,
.wrap-triangle:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '\200B';
  height: 0;
  width: 0;
}
.wrap-triangle:before {
  border: 5px solid transparent;
  border-right-color: #f7f9fa;
  z-index: 2;
  left: 2px;
  top: 1px;
}


.wrap-triangle:after {
  border: 6px solid transparent;
  border-right-color: #e5e5e5;
}

.modal-label {
  font-weight: normal;
  font-size: 12px;
  color: #666;
}


.question-state ul li {
  height: 24px;
  line-height: 24px;
color: #fff;
}

.question-state ul li:before,
.question-state ul li:after
{
/*  border-left: 4px solid #ffffff;*/
  background: #cacaca;
}
/*

.question-state ul li:first-child {
  border-left: 4px solid #fff;
}

.question-state ul li:last-child {
  border-right: 4px solid #fff;
}


*/
.table.table-bordered {
  background: #FFF;
  font-size: 12px;
  border-top: 1px solid #E1E6EB;
  margin-top: 8px;
  border: 1px solid #E1E6EB;
}



.table.table-bordered thead tr th {
  padding: 8px 8px;
  font-weight: normal;
  color: #999;
  border-bottom: 1px solid #E1E6EB;
  background-color: #F5F6FA;
  border: none;
}

.table.table-bordered tbody tr td {
  padding: 12px 8px;
  border-top: 0px;
  border-bottom: 1px solid #E1E6EB;
  border: none;
  vertical-align: middle;
}
.table.table-bordered tbody tr {
  border: 1px solid #E1E6EB;
}


.table-hover tbody tr:hover td {
  background-color: #F9F9FA;
}


.table-hover tbody tr:hover td.no-hover {
  background-color: #fff;
}

.selector-set .ss-item {
  position: relative;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #DDD;
  font-size: 12px;
  vertical-align: top;
  margin: 0 5px 5px 0;
  padding: 0 26px 0 4px;
  cursor: pointer;

}

.selector-set .ss-item b {
  font-weight: 400;
  color: #333;
}

.selector-set .ss-item em {
  color: #e4393c;
  font-style: normal;
}

.selector-set .ss-item i {
  display: block;
  position: absolute;
  width: 25px;
  height: 22px;
  right: 0;
  top: 0;
  background: url(//misc.360buyimg.com/product/list/1.0.6/css/i/search.ele.png) no-repeat 7px -140px;
}

.selector-set .ss-item:hover {
  border-color: #e4393c;
  text-decoration: none;
}

.selector-set .ss-item:hover b {
  color: #e4393c;
}

.selector-set .ss-item:hover i {
  background-color: #e4393c;
  background-position: 7px -158px;
}
.search-table td {
  font-size: 12px;
  line-height: 48px;
}


.search-table td label.radio-inline input {
  line-height: 40px;
  height: 40px;
}








