@charset "UTF-8";

body {
  background: #ffffff;
}


/*文章*/
h3.article-title {
  margin-top: 26px;
  font-size: 32px;
}

p.article-date {
  margin-top: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.rich-text {
  word-break: break-all;
  color: #333;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.6;
  word-wrap: break-word;
  margin: 23px 0 35px;
}


/*工单*/
.modal-header {
  padding: 0 0 16px 0;
}


.modal-title {
  display: inline-block;
  text-indent: 8px;
  border-left: 2px solid #88B7E0;
  margin: 8px 8px 8px 0;

  vertical-align: top;
  font-size: 14px;

}

.modal-body {
  border: 1px solid #ddd;
  padding: 15px;
  border-bottom: 0;
}

.modal-footer {
  border: 1px solid #e5e5e5;
  border-top: 0;
}


.modal-viewer-header {
  margin-top: 24px;
  margin-bottom: -1px;
  height: 40px;
  background: #F5f6FA;
  line-height: 38px;
  border: 1px solid #e1e6eb;
  position: relative;
  border-left: 4px solid #6d7781;
}


.modal-viewer-topbar-title {
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-left: 16px;
}



