@charset "UTF-8";

.form-control {
  display: block;
  width: 100%;
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;



  border-radius: 0;

  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  border: 1px solid #cccccc;

}



.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;


  font-size: 12px;
  border-radius: 0px;
  padding: 8px 16px;
  height: 32px;
  line-height: 14px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.modal-footer {
  padding: 15px;
  text-align: left;
}


.panel {
  border-radius: 0;
  box-shadow: none;
}


.ct-margin-0-12 {
  margin: 0 12px;
}

.ct-margin-12-auto {
  margin: 12px auto;
}
